In [16]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
datasets = [
#     {
#         "name": "Stanford treebank",
#         "prefix": "stanford_treebank",
#         "train_path": "/data/sam/stanford_treebank/sst_train.csv",
#         "dev_path": "/data/sam/stanford_treebank/sst_dev.csv",
#         "test_path": "/data/sam/stanford_treebank/sst_test.csv",
#         'classes': ['neg', 'pos']
#     },
    {
        "name": "Reddit Dataset",
        "prefix": "reddit_dataset",
        "train_path": "/data/rajat/ex_ml/reddit/input/train.csv",
        "dev_path": "/data/rajat/ex_ml/reddit/input/dev.csv",
        "test_path": "/data/rajat/ex_ml/reddit/input/test.csv",
        'classes': [0, 1]
    }
]

In [3]:
def read_data():
    train = pd.read_csv(datasets[0]['train_path'],index_col=0)
    dev = pd.read_csv(datasets[0]['dev_path'],index_col=0)
    test = pd.read_csv(datasets[0]['test_path'],index_col=0)
    return train, dev, test
train_data, dev, test = read_data()

In [5]:
all_data = pd.concat([train_data, dev, test])

In [7]:
len(all_data)

83179

In [9]:
new_data = all_data.drop_duplicates(subset='text')

In [10]:
len(new_data)

54735

In [14]:
new_data[new_data['classification'] == 1]

,id,classification,text
77412,44796,1,lol good god you guys are fucking retarded ple...
51290,18674,1,oh boy trump supporters retards
61231,28615,1,end your life u pussy
70046,37430,1,just stop nobody knows what happened yet you t...
56464,23848,1,dont talk to me ever again you stupid apish re...
...,...,...,...
47941,15325,1,just fucking disgusting http www frontpagemag ...
56777,24161,1,although i voted for johnson you re a fucking ...
48606,15990,1,no fuck you cuck
69094,36478,1,i fucking hate people who give the right answe...
63043,30427,1,a fucking cis white male

In [19]:
equal_new_data = new_data[new_data['classification'] == 0][0:22320].append(new_data[new_data['classification'] == 1])

In [21]:
equal_new_data.to_csv('/data/rajat/datasets/reddit/all.csv', header=True)

In [23]:
df = equal_new_data

In [24]:
input_dir='/data/rajat/datasets/reddit/'
train, test = train_test_split(df, test_size=0.2)
dev, test = train_test_split(test, test_size=0.5)
train.to_csv('{0}train.csv'.format(input_dir), header=True)
test.to_csv('{0}test.csv'.format(input_dir), header=True)
dev.to_csv('{0}dev.csv'.format(input_dir), header=True)